@use './variables.scss' as v;
@import 'variables';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.wrapper {
    max-width: 1480px;
    padding: 0 1.25em;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

//---------HEADER---------------------------------

.header {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.6875em 0;
    }

    &__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 903px;
    }

    &__navigation a,
    ul li {
        @include text;
        color: v.$black;
        line-height: 150%;
    }

    &__phone-number p {
        @include subtitle;
        text-align: right;
        line-height: 150%;
        color: v.$red;
    }

    &__burger-menu span {
        display: none;
    }

    &__dropdown {
        position: absolute;
        z-index: 999;
        display: none;
        background-color: v.$white;
        width: 225px;
    }

    &__dropdown li {
        display: block;
        padding: 1em 1em 0.625em 1em;
        border-top: 1px solid v.$smoke_gray;
    }

    &__dropdown li:hover {
        background-color: rgb(222, 222, 222);
    }
}

.navigation__item:hover .header__dropdown {
    display: block;
}

.is-active {
    left: 0;
}

//---------COMPONENTS-----------------------------

.button {
    @include button;
    @include text;
}

.card {
    display: flex;
    flex-direction: column;
    width: 27.5em;
    padding: 2.5em 1.875em;
    box-shadow: v.$box-shadow;

    &__image {
        margin: 0 0 1.5em 0;
        border-radius: 10px;
    }

    &__title {
        @include title;
        font-size: 24px;
        margin: 0 0 12px 0;
    }

    &__slogan {
        @include text;
        color: v.$gray;
        margin: 0 0 2.9375em 0;
        height: 4.875em;
    }

    &__container div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__price-number {
        margin: 0 0.13em 0 0;

        font-family: v.$Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: v.$medium;
        line-height: 50%;
        letter-spacing: 0.5px;
    }

    &__price div {
        display: flex;
        flex-direction: column;
    }

    &__price div p {
        @include text;
        line-height: 130.5%;
    }

    &__price div p:first-of-type {
        border-bottom: 1px solid v.$black;
    }

    &__button {
        padding: 0.8em 1.4em;
    }
}

//--------ABOUT-SECTION----------------------------

.about {
    height: 25.8125em;

    &__cover {
        position: absolute;
        left: 0;
        z-index: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: 25.8125em;
        background-color: v.$white_smoke;
    }

    &__img {
        width: 804px;
        background: linear-gradient(
                90deg,
                #f8f8f8 0%,
                rgba(248, 248, 248, 0.85) 16.71%,
                rgba(248, 248, 248, 0) 40.11%
            ),
            url(./assets/img.png) lightgray 50% / cover no-repeat;
    }

    &__content {
        position: absolute;
        padding: 4em 0;
        z-index: 3;
    }

    &__title {
        @include title;
        max-width: 15em;
        margin: 0 0 0.8em 0;
        font-size: 50px;
        line-height: 130%;
    }

    &__button {
        padding: 0.8125em 6em;
    }
}

//--------SERVICES-SECTION------------------------

.services {
    padding: 4em 0 0 0;

    &__title {
        @include title;
        font-size: 1.875em;
    }

    &__cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;
        padding: 2.5em 0;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.static-button {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    border-radius: 8px 0px 0px 8px !important;
    padding: 2em 1.5em;

    &__title {
        @include subtitle;
        color: v.$white;
        padding: 0 1.25em 0 0;
    }
}

.example {
    width: 100%;
    height: 1000px;
}

//--------MEDIA-----------------------------------

@media screen and (max-width: 1439px) {
    .header {
        &__navigation {
            position: fixed;
            top: 0;
            left: 100%;
            z-index: 98;

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            min-height: 100vh;
            padding: 13em 0;
            background-color: v.$white;
            transition: 1s;
        }

        &__phone-number {
            display: none;
        }

        &__mobile-menu {
            display: flex;
            flex-direction: row;
        }

        &__mobile-menu img {
            margin: 0 10.5em 0 0;
        }

        &__burger-menu {
            z-index: 98;
        }

        &__burger-menu span {
            display: flex;
            flex-direction: column;
            width: 1.5em;
            height: 3px;
            margin: 5px 0;
            background-color: v.$red;
        }
    }

    .is-active {
        left: 0;
    }
}

@media screen and (max-width: 968px) {
    .wrapper {
        padding: 0 2.5em;
    }

    .about {
        height: 25em;

        &__cover {
            height: inherit;
        }

        &__title {
            font-size: 40px;
        }

        &__img {
            background: linear-gradient(
                    90deg,
                    #f8f8f8 11.85%,
                    rgba(248, 248, 248, 0.85) 35.72%,
                    rgba(248, 248, 248, 0) 55.51%
                ),
                url(./assets/img.png);
            background-position: 279.263px -1.219px;
            background-size: 103.803% 133.141%, cover;
            background-repeat: no-repeat;
        }

        &__button {
            padding: 0.875em 3.125em;
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        &__mobile-menu img {
            margin: 0 4.4375em 0 0;
        }
    }

    .about {
        height: 402px;

        &__cover {
            height: inherit;
        }

        &__title {
            max-width: 80%;
            font-size: 38px;
        }

        &__img {
            background: linear-gradient(
                    90deg,
                    #f8f8f8 16.3%,
                    rgba(247, 248, 248, 0.85) 30.04%,
                    rgba(248, 248, 248, 0) 52.49%
                ),
                url(./assets/img.png);
            background-position: 61.056px -60.437px;
            background-size: 177.833% 127.141%;
            background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 460px) {
    .about {
        &__title {
            font-size: 2em;
        }
    }
}
