@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  max-width: 1480px;
  padding: 0 1.25em;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.6875em 0;
}
.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 903px;
}
.header__navigation a {
  font-family: "Inter";
  font-style: "normal";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 150%;
}
.header__phone-number p {
  font-family: "Inter";
  font-style: "normal";
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  line-height: 150%;
  color: #ee2523;
}
.header__burger-menu span {
  display: none;
}

.is-active {
  left: 0;
}

.button {
  color: #ffffff;
  background-color: #ee2523;
  border-radius: 8px;
  border: 1px solid #ee2523;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  font-family: "Inter";
  font-style: "normal";
  font-size: 16px;
  font-weight: 400;
}
.button:hover {
  background-color: #ce1210;
  border-color: #ce1210;
}
.button:active {
  background-color: #9f0e0c;
  border-color: #9f0e0c;
  transform: scale(0.97);
}

.card {
  display: flex;
  flex-direction: column;
  width: 27.5em;
  padding: 2.5em 1.875em;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
}
.card__image {
  margin: 0 0 1.5em 0;
  border-radius: 10px;
}
.card__title {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 600;
  color: #000;
  font-size: 24px;
  margin: 0 0 12px 0;
}
.card__slogan {
  font-family: "Inter";
  font-style: "normal";
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5019607843);
  margin: 0 0 2.9375em 0;
  height: 4.875em;
}
.card__container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__price-number {
  margin: 0 0.13em 0 0;
  font-family: "Inter";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 50%;
  letter-spacing: 0.5px;
}
.card__price div {
  display: flex;
  flex-direction: column;
}
.card__price div p {
  font-family: "Inter";
  font-style: "normal";
  font-size: 16px;
  font-weight: 400;
  line-height: 130.5%;
}
.card__price div p:first-of-type {
  border-bottom: 1px solid #000;
}
.card__button {
  padding: 0.8em 1.4em;
}

.about {
  height: 25.8125em;
}
.about__cover {
  position: absolute;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 25.8125em;
  background-color: #f8f8f8;
}
.about__img {
  width: 804px;
  background: linear-gradient(90deg, #f8f8f8 0%, rgba(248, 248, 248, 0.85) 16.71%, rgba(248, 248, 248, 0) 40.11%), url(./assets/img.png) lightgray 50%/cover no-repeat;
}
.about__content {
  position: absolute;
  padding: 4em 0;
  z-index: 3;
}
.about__title {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 600;
  color: #000;
  max-width: 15em;
  margin: 0 0 0.8em 0;
  font-size: 50px;
  line-height: 130%;
}
.about__button {
  padding: 0.8125em 6em;
}

.services {
  padding: 4em 0 0 0;
}
.services__title {
  font-family: "Inter";
  font-style: "normal";
  font-weight: 600;
  color: #000;
  font-size: 1.875em;
}
.services__cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  padding: 2.5em 0;
}
.services__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.static-button {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: row;
  border-radius: 8px 0px 0px 8px !important;
  padding: 2em 1.5em;
}
.static-button__title {
  font-family: "Inter";
  font-style: "normal";
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 0 1.25em 0 0;
}

.example {
  width: 100%;
  height: 1000px;
}

@media screen and (max-width: 1439px) {
  .header__navigation {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 13em 0;
    background-color: #ffffff;
    transition: 1s;
  }
  .header__phone-number {
    display: none;
  }
  .header__mobile-menu {
    display: flex;
    flex-direction: row;
  }
  .header__mobile-menu img {
    margin: 0 10.5em 0 0;
  }
  .header__burger-menu {
    z-index: 98;
  }
  .header__burger-menu span {
    display: flex;
    flex-direction: column;
    width: 1.5em;
    height: 3px;
    margin: 5px 0;
    background-color: #ee2523;
  }
  .is-active {
    left: 0;
  }
}
@media screen and (max-width: 968px) {
  .wrapper {
    padding: 0 2.5em;
  }
  .about {
    height: 25em;
  }
  .about__cover {
    height: inherit;
  }
  .about__title {
    font-size: 40px;
  }
  .about__img {
    background: linear-gradient(90deg, #f8f8f8 11.85%, rgba(248, 248, 248, 0.85) 35.72%, rgba(248, 248, 248, 0) 55.51%), url(./assets/img.png);
    background-position: 279.263px -1.219px;
    background-size: 103.803% 133.141%, cover;
    background-repeat: no-repeat;
  }
  .about__button {
    padding: 0.875em 3.125em;
  }
}
@media screen and (max-width: 500px) {
  .header__mobile-menu img {
    margin: 0 4.4375em 0 0;
  }
  .about {
    height: 402px;
  }
  .about__cover {
    height: inherit;
  }
  .about__title {
    max-width: 80%;
    font-size: 38px;
  }
  .about__img {
    background: linear-gradient(90deg, #f8f8f8 16.3%, rgba(247, 248, 248, 0.85) 30.04%, rgba(248, 248, 248, 0) 52.49%), url(./assets/img.png);
    background-position: 61.056px -60.437px;
    background-size: 177.833% 127.141%;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 460px) {
  .about__title {
    font-size: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
